@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
    height: 100vh;
    font-family: "Inter", sans-serif;
}


.logo {
    padding: 10px 0 0 10px;
}

.container-decodificador {
    margin: 0 5% 10px 5%;
    display: flex;
    height: 100%;
    color: #0A3871;


}

.texto-principal {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.div-subtitulo {
    margin-bottom: -90px;
}

.container-texto-de-entrada,
.resultado-texto {
    height: 50%;

}

#texto-de-entrada {
    width: 100%;
    height: 100%;
    background-color: #F3F5FC;
    border: none;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
    color: #0A3871;
    resize: none;
}

.aviso {
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
}

.botoes {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-right: 10px;

}

button:hover {
    cursor: pointer;
}

button {
    width: 328px;
    padding: 8px;
    border-radius: 15px;
    color: #0A3871;
    font-size: 16px;


}

#botao-criptografar {
    background-color: #0A3871;
    color: white;
}

.resultado-decodificador {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 10px 8px #aaa;
}

.resultado-texto {
    margin-top: -30px;
    display: none;
    font-size: 24px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5%;
    width: 100%;
}

.imagem-inicial {
    width: 80%;
}

.texto-inicial-resultado {
    font-size: 16px;
}

.div2 {
    margin-top: -50px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.botao-copiar {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    display: none;
}

footer {
    padding: 24px;
    background-color: #0A3871;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 16px;
}

@media (max-width: 1024px) {
 
    .logo {
        margin-bottom: 20px;
    }
    .div-subtitulo {
        margin: 0;
    }

    main {
        height: 100vh;
    }
    .texto-inicial-resultado {
        display: none;
    }
    main, .texto-principal, .resultado-decodificador {

        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        
    }
    body, .main {
        gap:20px;
    }
     
    .container-texto-de-entrada {
        height: 70%;
    }
    .div2{
        margin: 0;
        padding: 0;
    }

    .texto-principal, .resultado-decodificador {
        width: 100%;
    }

    .texto-principal {
        height: 70%;
    }

    .resultado-decodificador {
        margin-top: 30px;
        height: 35% ;
    }

    .resultado-texto {
        width: 100%;
    }
    #subtitulo{
        width: 100%;
        justify-content: flex-start;
    }
    .botoes, .botao-copiar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #botao-copiar {
        width: 80%;
    }
}